baseurl: /EbsSpread/
site: Made Jekyll Theme

collections:
  pages:
    output: true
    permalink: /EbsSpread/:name
  posts:
    output: true
    permalink: /EbsSpread/blog/:slug
  projects:
    output: true
    permalink: /EbsSpread/project/:slug

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter_opts:
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1
  
sass:
  style: compressed

plugins:
  - jekyll-sitemap

paginate: 7
paginate_path: "/EbsSpread/blog/page-:num/"